.popup {
	position: absolute;
	min-width: 250px; min-height: 150px;
	width: 250px; height: min-content;
	top: 100px; left: calc(50% - 125px);
	/* pointer-events: none; */
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	background: rgba(66, 66, 66, 0.8);
	border-radius: 3px;
	z-index: 999999;
	border: rgb(60, 65, 68) 2px solid;
}

.title {
	width: 100%; text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	background: rgba(24, 26, 27, 0.32)
}

.body {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}

.body button {
	margin-top: 15px;
}